#root {
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
}

.active {
  color: blue;
}

.box {
  max-width: 300px;
  min-height: 210px;
  width: 200px;
  background-color: #0c0c0c;
  margin: 1% 0;
  padding: 2%;
  border-radius: 5px;
  text-align: left;
  flex-grow: 1;
  box-shadow: 0 0 5px 0 #000000;
}

.box h2 {
  margin: 3% 0;
}

.first-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
  padding: 0 2%;
}